/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2021, 9:40:47 PM
    Author     : User
*/
body{
    height: 100%;
    width: 100%;
    background: #1D1B22; 
    box-shadow: 45px 100px 90px rgba(19, 19, 19, 0.397072);
    margin: 0;
    display:flex;
}

.div1{
    height:auto;
    overflow: auto;
    flex:1;
}
.div2{
    flex:6;
    height: auto;
    overflow: auto;
    display: inline;
}
.div3{
    height:auto;
    overflow: auto;
    flex:3;
}
.searchbar{
    margin-top: 10%;
    height: auto;
    width:100%;
    margin-left: auto;
    margin-right: 20%;
    margin-bottom: 2vw;
}
.folders{
    display: block;
    overflow: hidden;
    height:23vw;
}
.folder{
    display: inline-block;
    background: #26262E;
    border: 0.5px solid #2A2B32;
    border-radius: 10px;
    height: 10vw;
    width: 17vw;
    margin: 1% 1% 1% 1%;
}

.folder:hover, .foldersAll:hover{
    background: rgba(134, 134, 138, 0.25);
    border: 0.5px solid rgba(42, 43, 50, 0.25);
    border-radius: 10px;
    cursor: pointer;
}


.b1 {
    border-radius: 8px;
    background-color: #26262E;
    border:none;
    padding: 8px;
    margin-left: 1%;
    cursor: pointer;
}


.b2 {
    border-radius: 8px;
    background-color: #26262E;
    border:none;
    padding: 8px;
    cursor: pointer;
    margin-left: 41vw;
    width: 10vw;
    height:auto;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    color:white;
    text-align: center;
}
.b1:hover, .b2:hover{
    opacity: 0.7;
}

.p1 {
    position: relative;
    margin-top: 2vw;
    margin-left: 8%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 14px;
/* identical to box height, or 93% */
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.85;
}
.fix{
    position: relative;
    margin-top:8%;
    margin-left: 8%;
    width: 28px;
    height: 26px;
}
p.getdata {
    margin-left: 8%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;  
    color: #FFFFFF;
    opacity: 0.4;
}
.p11 {
    display: inline;
    position: relative;
    margin-top: 2vw;
    margin-left: 8%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 14px;
/* identical to box height, or 93% */
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.85;
}

.form-popup {
    display:none;
    position: fixed;
    top: 50%;
    left:40%;
    transform: translate(-50%, -40%);
    height: 15vw;
    width:30vw;
    z-index:1;
    background: #1D1B22;
    border: none;
    border-radius: 10px;
    padding-top: 2vw;
    padding-left: 0;
    padding-right: 1vw;
    margin:0;
}
.form1{
    position: relative;
    
    margin-right: auto;
    margin-left: auto;
    width:85%;
    height:100%;
    background: #1D1B22;
}
.form1 input[type=text]{
    width:100%;
    padding: 8px;
    border: solid 3px #3366ff;
    font-size:1.2vw;
    background: #f1f1f1;;
    border-radius: 8px;
    margin-top:1vw;
    height: 2vw;
    color: white;
    background-color: #26262E;
}
.form1 input[type=text]:focus{
    outline-color: #3366ff;
}
.b3{
    border-radius: 8px;
    background-color: #26262E;
    border:none;
    padding: 0;
    margin-top: 3vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    height: 3vw;
    width: 11vw;
    cursor: pointer;
    display: inline;
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 14px;
/* identical to box height, or 93% */
    color: white;
    mix-blend-mode: normal;
    opacity: 0.85;
}
.b3:hover{
    opacity: 0.6;
}
label{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 14px;
/* identical to box height, or 93% */
    color: white;
    mix-blend-mode: normal;
    opacity: 0.85;
}
.close{
    color: white;
    background: rgba(134, 134, 138, 0.246285);
    border-radius: 6px;
    float: right;
    margin-top: 0;
    padding: 1% 1% 1% 1%;
    text-align: center;
    font-size: 1.3vw;
}
.close:hover, .close:focus{
    color: #cccccc;
    text-decoration: none;
    cursor: pointer;
}

